*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: serif;
}

body {
    background: url("tecstura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heading{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0px;
    align-items: center;
    z-index: 100;
}

/* Логотип */
.logo{
    width: 30%;
    height: 80px;
    float: left;
}
.logo img{
    width: 100%;
    height: 100%;
}
/* Поиск */
.search-container {
    width: 40%;
    margin-left: 40px;
}

.search-form {
    display: flex;
    width: 110%;
    background: white;
    border-radius: 30px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    height: 40px;
    border: none;
    padding: 0 20px;
    font-size: 14px;
    color: #1A237E;
}

.search-button {
    width: 45px;
    height: 40px;
    background: #FFD700;
    border: none;
    color: #1A237E;
    font-size: 16px;
}

.search-button:hover {
    background: #FFF8C6;
}

/* Кнопка меню и само меню */
.menu-btn {
    float: left;
    font-size: 14px;
    padding: 10px 25px;
    color:#ffffff;
    background:#ffd700;
    border-radius: 41px;
    border:2px solid #edb928;
    margin-left: 81px;
    margin-right: 25px;
}

.menu-btn:hover {
    background:#ffb300;
    color:#ffffff;
    border:2px solid #edb928;
    transition: all 0.2s ease;
}

.menu {
    display: none;
    position: fixed;
    top: 70px;
    left: 941px;
    width: 25%;
    height: 60%;
    background:#ffb300;
    z-index: 1000;
}

.menu.open {
    display: block;
}

#navbar {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0 0;
    text-align: center;
}

#navbar li {
    margin: 20px 0;
}

#navbar li a {
    text-decoration: none;
    color: #eed966;
    font-size: 24px;
}

#navbar li a:hover {
    color: #FFF8C6;
}

/* Кнопка входа и регистрации */
.registration{
    width: 15%;
    height: 80px;
    float: left;
    padding-top: 35px;
    margin-left: auto;
}

.login_btn{
    display: inline-block;
    cursor: pointer;
     font-size:14px;
     text-decoration:none;
     padding:12px 20px; 
     color:#ffffff;
     background:#ffd700;
     border-radius:41px;
     border:2px solid #edb928;
    }
.login_btn:hover{
    background:#ffb300;
    color:#ffffff;
    border:2px solid #edb928;
    transition: all 0.2s ease;
}

/* Сама страница */
.content {
    width: 100%;
    padding: 20px;
    /* background: #18106e; */
}

/* Хутер */
.footer{
    width:100%;
    margin-top:80px;
    padding:30px;
    text-align:center;
    color:#FFD700;
}

.footer a{
    color:#FFD700;
    text-decoration:none;
    margin:0 15px;
}

.footer a:hover{
    color:#FFF8C6;
}

.heading,
.content,
.footer,
.menu {
    position: relative;
    z-index: 10;
}