body {
    background: url("tecstura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFD700;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}

.info-section {
    width: 100%;
    text-align: center;
}

.info{
    width: 80%;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,215,0,0.3);
    backdrop-filter: blur(6px);
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: left;
}

.info h3 {
    color: #FFD700;
    margin-bottom: 10px;
}

/* Текст */
.info p {
    color: #FFD700;
}

.back{
    display: inline-block;
    cursor: pointer;
    font-size:14px;
    text-decoration:none;
    padding:10px 20px;
    color:#ffffff;
    background:#ffd700;
    border-radius:12px;
    border:2px solid #edb928;
    }
.back:hover{
    background:#ffb300;
    color:#ffffff;
    border:2px solid #edb928;
    transition: all 0.2s ease;
}

.iksweb{
    display: inline-block;
    cursor: pointer;
    font-size:14px;
    text-decoration:none;
    padding:10px 20px;
    color:#ffffff;
    background:#ffd700;
    border-radius:12px;
    border:2px solid #edb928;
    }
.iksweb:hover{
    background:#ffb300;
    color:#ffffff;
    border:2px solid #edb928;
    transition: all 0.2s ease;
}

mb-3 {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    color: #FFD700;
    margin-bottom: 8px;
    font-size: 14px;
}

.form-control {
    width: 100%;
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 215, 0, 0.3);
    border-radius: 10px;
    color: #edb928;
    font-size: 14px;
}

.form-control::placeholder {
    color: #FFD700;
}

.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 999;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
}

.modal_content {
    background: #1A237E;
    color: gold;
    margin: 10% auto;
    padding: 30px;
    width: 30%;
    text-align: center;
    border: 2px solid gold;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,215,0,0.5);
    position: relative;
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}