body {
    background: url("tecstura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFD700;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}

.info-section {
    width: 100%;
    text-align: center;
}

.info{
    width: 700px;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,215,0,0.3);
    backdrop-filter: blur(6px);
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: left;
}

.info h3 {
    color: #FFD700;
    margin-bottom: 10px;
}

/* Текст */
.info p {
    color: #FFD700;
}

.back{
    display: inline-block;
    cursor: pointer;
    font-size:14px;
    text-decoration:none;
    padding:10px 20px;
    color:#ffffff;
    background:#ffd700;
    border-radius:12px;
    border:2px solid #edb928;
    }
.back:hover{
    background:#ffb300;
    color:#ffffff;
    border:2px solid #edb928;
    transition: all 0.2s ease;
}