body {
    background: url("tecstura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFD700;
}

.iksweb{
    display: inline-block;
    cursor: pointer;
    font-size:14px;
    text-decoration:none;
    padding:10px 20px;
    color:#ffffff;
    background:#ffd700;
    border-radius:12px;
    border:2px solid #edb928;
    }
.iksweb:hover{
    background:#ffb300;
    color:#ffffff;
    border:2px solid #edb928;
    transition: all 0.2s ease;
}

.fon{
    width: 80%;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,215,0,0.3);
    backdrop-filter: blur(6px);
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: left;
}

.fon h1 {
    color: #FFD700;
    margin-bottom: 10px;
    text-align:center;
    font-size:30px;
}

.blok {
    display: flex;
    gap: 30px;
    justify-content: center;
}

#photo_genres {
    width: 80%;
    height: auto;
    box-sizing: border-box; 
    overflow: hidden;       
    margin: 0 auto;         
}

/* Картинка внутри блока */
#photo_genres img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #FFD700;
}

.photo_artist,
.photo_collections,
.photo_museums,
.picture,
.photo_styles {
    width: 50%;                
    border-radius: 10px;
}

/* Изображения внутри блоков */
.photo_artist img,
.photo_collections img,
.photo_museums img,
.picture img,
.photo_styles img 
.photo_genres img{
    width: 100%;     
    height: auto;  
    display: block;
    border-radius: 10px;
    border: 2px solid #FFD700;
    box-sizing: border-box;
}

.info{
    display: block;
}

.info h3{
    color: #FFD700;
    margin: 10px 0 5px;
    font-size: 18px;
}

.info p{
    color: #FFD700;
}

.description,
.biography {
    text-align: center;
}

.description p,
.biography p {
    color: #FFD700;
}