/* Atziluth-Script */
@font-face {
    font-family: 'Atziluth Script';
    src: url('Atziluth-Script/Atziluth-Script_1.ttf');
}

/* Corvetta Regular */
/* @font-face { */
    /* font-family: 'Corvetta';
    src: url('Corvetta Regular/Corvetta.otf');
} */

@font-face {
    font-family: 'Raster Slice';
    src: url('Corvetta Regular/Raster Slice.ttf');
}

/* Josef K Paneuropean */
@font-face {
    font-family: 'Josef K';
    src: url('Josef K Paneuropean/josefkpaneuropean2.otf');
}

/* Kefa III */
/* @font-face {
    font-family: 'Kefa III';
    src: url('Kefa III/11cd9618-4963-4310-941a-d17c4026f75f-VF');
} */
/* lolita */
/* @font-face {
    font-family: 'Lolita';
    src: url('lolita/lolita.ttf');
} */

/* OlgaC Regular */
/* @font-face {
    font-family: 'OlgaC';
    src: url('OlgaC Regular/olgac.otf');
} */

/* Saint Amour Script */
/* @font-face {
    font-family: 'Saint Amour';
    src: url('Saint Amour Script/Saint Amour Script.otf');
} */